.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
    text-align: left;
}

.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
    display: inline-block;
    margin: 0 auto;
    /*border: #cbd6e8 solid 1px;*/
}

.ui-accordion .ui-accordion-header:nth-child(1) {
    border-top: #cbd6e8 solid 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ui-accordion .ui-accordion-header.ui-corner-all:nth-last-child(2) {
    border-bottom: #cbd6e8 solid 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ui-accordion-header.ui-accordion-header-active.ui-state-active {
    border-top: #587ebf solid 1px;
}

.ui-accordion .ui-accordion-header {
    display: block;
    position: relative;
    border: #cbd6e8 solid 1px;
    border-bottom-color: #b7c4d7;
    border-top-width: 0;
    background: #f9fafe;
    background: -moz-linear-gradient(top, #f9fafe, #d4ddee);
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#f9fafe), color-stop(100%,#d4ddee));
    background: -webkit-linear-gradient(top, #f9fafe, #d4ddee);
    background: -o-linear-gradient(top, #f9fafe, #d4ddee);
    background: -ms-linear-gradient(top, #f9fafe, #d4ddee);
    background: linear-gradient(top, #f9fafe, #d4ddee);
    cursor: pointer;
    padding: .5em;
    /*min-height: 50px;*/
    font-size: 14px;
    z-index: 2;
}

.ui-accordion .ui-accordion-content {
    border-top: 0;
    overflow: auto;
    position: relative;
    font-size: 12px;
    background: none repeat scroll 0 0 #ffffff;
    border-color: #cbd6e8;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    /*top: -3px;*/
}

/*.ui-department-icon {*/
    /*width: 38px;*/
    /*height: 40px;*/
    /*padding-right: 10px;*/
    /*text-indent: -99999px;*/
    /*overflow: hidden;*/
    /*background: url(../img/department.png) no-repeat left center;*/
/*}*/

.catalog-owner {
    padding: 20px;
}

.ui-department-text {
    padding: 15px 40px 15px 5px;
}

.ui-department-arrow {
    height: 18px;
    width: 18px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    right: 20px;
    text-indent: -99999px;
    background: url(../img/arrows.png) no-repeat scroll left top transparent;
}

.ui-state-active .ui-department-arrow {
    background-position: bottom;
}

.ui-widget .ui-state-active {
    color: #ffffff;
    border: #587ebf solid 1px;
    background: #2353a8;
    background: -moz-linear-gradient(top, #2353a8, #102750);
    background: -webkit-gradient(linear, left top, left bottom,
        color-stop(0%,#2353a8), color-stop(100%,#102750));
    background: -webkit-linear-gradient(top, #2353a8, #102750);
    background: -o-linear-gradient(top, #2353a8, #102750);
    background: -ms-linear-gradient(top, #2353a8, #102750);
    background: linear-gradient(top, #2353a8, #102750);
}

.ui-state-default {
    color: #0a1f54;
}

/*.ui-state-hover {*/
    /*color: #cd2532;*/
/*}*/

.catalog-wrap {
    text-align: center;
}

/*.catalog-column {*/
    /*float: left;*/
    /*width: 300px;*/
    /*margin: 5px;*/
/*}*/

.catalog-content div {
    border-top: 1px solid #cbd6e8;
    cursor: pointer;
    padding: 10px;
}

.catalog-content div:hover {
    text-decoration: underline;
}

.catalog-content div:first-child {
    border: 0;
}

/*.ui-corner-all,*/
/*.ui-corner-top,*/
/*.ui-corner-left,*/
/*.ui-corner-tl {*/
    /*border-top-left-radius: 5px;*/
/*}*/

/*.ui-corner-all,*/
/*.ui-corner-top,*/
/*.ui-corner-right,*/
/*.ui-corner-tr {*/
    /*border-top-right-radius: 5px;*/
/*}*/

/*.ui-corner-all,*/
/*.ui-corner-bottom,*/
/*.ui-corner-left,*/
/*.ui-corner-bl {*/
    /*border-bottom-left-radius: 5px;*/
/*}*/

/*.ui-corner-all,*/
/*.ui-corner-bottom,*/
/*.ui-corner-right,*/
/*.ui-corner-br {*/
    /*border-bottom-right-radius: 5px;*/
/*}*/

.ui-service-info .ik-table {
    border: #cbd6e8 solid 1px;
}

/*.ik-table tr td, .ik-headTable tr td{*/
    /*border: 1px solid #1C803A;*/
    /*color: #000000;*/
    /*font-family: Times New Roman,Arial,Verdana,sans-serif;*/
    /*font-size: 14px;*/
    /*padding: 5px;*/
/*}*/

.ui-service-info .ik-headTable {
    color: #ffffff;
    /*border: #587ebf solid 1px;*/
    background: #2353a8;
    background: -moz-linear-gradient(top, #2353a8, #102750);
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#2353a8), color-stop(100%,#102750));
    background: -webkit-linear-gradient(top, #2353a8, #102750);
    background: -o-linear-gradient(top, #2353a8, #102750);
    background: -ms-linear-gradient(top, #2353a8, #102750);
    background: linear-gradient(top, #2353a8, #102750);

}

.ui-service-info .ik-headTable tr td:nth-last-child(1) {
    min-width: 200px;
}

.ui-service-info .ik-headTable tr td {
    font-weight: bold;
    padding: 10px;
}

.ui-service-info .ik-table tbody tr td {
    font-size: 10pt;
    padding: 20px;
}

.ui-service-info h1 {
    font-size: 18px;
}

.ui-service-info h2 {
    font-size: 14px;
}

.ui-service-info .ik-table tbody tr td .label {
    padding-top: 15px;
    display: block;
    text-align: center;
}

.ui-service-info .ik-table tbody tr:nth-child(even) {
    background: #f5f9fc;
}

.ui-service-info .ik-table tbody tr td span:first-child {
    font-weight: bold;
}

.ui-service-info .ik-table tbody tr {
    padding: 10px;
    border-bottom: #cbd6e8 solid 1px;
}

/*.ik-headTable tr td{*/
    /*color: white;*/
    /*font-weight: bold;*/
/*}*/

.ik-cellTable {

}

.ui-service-info .ik-table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

.ui-service-info .ik-table tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}
